<span>
    <h3 class="primary-color">Search for Puns</h3>
</span>
<md-input-container>
    <input #keywords type="text" mdInput
    autofocus="true"
    placeholder="Enter keyword"
    (input)="keywordsInputChange$.next(keywords.value)"/>
</md-input-container>

<button (click)="listenClick$.next()">Listen</button>

<button (click)="showCamera = !showCamera">Snapshot</button>

<div *ngIf="showCamera">
    <app-snapshot-camera [width]="400" [height]="400" (snapshot)="snapshot$.next($event)"></app-snapshot-camera>
</div>

<h3 class="primary-color">Pun Arsenal...</h3>
<span class="accent-color">{{suggestedKeywords}}</span>

<h3 class="primary-color">Puns Found</h3>
<md-card *ngFor="let pun of (punsFound$ | async)">
    <md-card-content>
    {{pun?.pun}}
    {{pun?.answer}}
    </md-card-content>
</md-card>