<span>
    <h3 class="primary-color">Search for Puns</h3>
</span>
<md-input-container>
  <input #keywords type="text" mdInput
    autofocus="true"
    placeholder="Enter keyword"
    (input)="keywordsInputChange$.next(keywords.value)"/>
</md-input-container>

<button md-raised-button color="primary" (click)="openDialog()">Need Ideas?</button>

<button md-raised-button color="accent" (click)="listenClick$.next()">Listen</button>

<button md-raised-button color="accent" (click)="showCamera = !showCamera">Snapshot</button>

<div *ngIf="showCamera">
  <app-snapshot-camera [width]="400" [height]="400" (snapshot)="snapshot$.next($event)"></app-snapshot-camera>
</div>

<h3 class="primary-color">Suggested Keywords</h3>
<md-card *ngFor="let keyword of (keyword$ | async)">
  <md-card-content>
    {{keyword}}
  </md-card-content>
</md-card>  

<h3 class="primary-color">Puns Found</h3>
<md-card *ngFor="let pun of (punsFound$ | async)">
  <md-card-content>
    {{pun.pun}}
    {{pun.answer}}
  </md-card-content>
</md-card>
