<md-toolbar color="primary">
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>
      menu
    </md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <a href="https://github.com/ladyleet/rxjs-test" target="_blank" md-menu-item>
      <span>Github</span>
    </a>
    <a href="http://reactivex.io/rxjs/" target="_blank" md-menu-item>
      <span>RxJS Docs</span>
    </a>
    <a href="http://rxworkshop.com" target="_blank" md-menu-item>
      <span>Learn RxJS</span>
    </a>
  </md-menu>
  <span>Pun App</span>
</md-toolbar>

<div class="body-margin">
  <app-pun-lookup></app-pun-lookup>
</div>