<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>
      menu
    </mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a href="https://github.com/ladyleet/rxjs-test" target="_blank" mat-menu-item>
      <span>Github</span>
    </a>
    <a href="http://reactivex.io/rxjs/" target="_blank" mat-menu-item>
      <span>RxJS Docs</span>
    </a>
    <a href="http://rxworkshop.com" target="_blank" mat-menu-item>
      <span>Learn RxJS</span>
    </a>
  </mat-menu>
  <span>RxJS Pun App</span>
</mat-toolbar>

<div class="body-margin">
  <app-pun-lookup></app-pun-lookup>
</div>
