/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Roboto");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: Roboto;
    margin: 0px;
}

.body-margin {
    margin: 50px;
}

.primary-color {
    color: #3F51B5;
}

.accent-color {
    color: #FF4081;
}
